{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" type="text/css" href="/static/dinner/bootstrap/css/bootstrap-datetimepicker.min.css">
{% endblock header %}

{% block content %}

<div class="well">
  <div id="datetimepicker4" class="input-append">
    <input data-format="yyyy-MM-dd" type="text"></input>
    <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
      </i>
    </span>
  </div>
</div>

{% endblock content %}

{% block extrascripts %}
<script src="/static/dinner/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
  $(function() {
    $('#datetimepicker4').datetimepicker({
      pickTime: false,
        autoclose: true
    });
  });
</script>
{% endblock extrascripts %}
