<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/static/dinner/favicon.ico" rel="shortcut icon">
  <link rel="stylesheet" href="/static/dinner/style.css">
  <script src="https://www.google.com/jsapi"></script>
  <script>var image_search_terms="{% for w in random_names %}{{w}} {% endfor %}";</script>
  <script src="/static/dinner/googleimages.js"></script>
  <title>What's for Dinner</title>
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  <style>
    h1 { margin-top: 0.5em }
    h2 { margin-top: 0.5em }
    .hero { margin-bottom: 1em }
  </style>

</head>

<body>
  <div class="container">

    <header class="header clearfix" style="padding-top: 1em; padding-bottom: 1em" >
      <div class="logo">What&rsquo;s for Dinner?</div>

      <nav class="menu_main">
        <ul>
          <li class="active"><a href="#" onclick="javascript:document.getElementById('about').style.display = 'block'">About</a></li>
          <li><a href="/admin/dinner/">Admin</a></li>
        </ul>
      </nav>
    </header>


    <div class="info">

    <article class="hero clearfix">
        <div class="col_100">

          <div style="float: right; padding-right: 50px" id="image-container"><div id="google-images"></div><div style="text-align: right; font-size: 7pt; color: #ccc;">Random images via <a style="color: inherit" href="http://images.google.com" target="_blank">Google</a></div></div>
{% block bluebar %}
          <h1>Some random suggestions:</h1>

            <table id="random-suggestions" style="margin-left: 5em; margin-bottom: 2em">
            {% for meal in random %}
            <tr>
            <td>{{ meal.name|capfirst }}{% if meal.common %}*{% endif %}</td>
            </tr>
            {% endfor %}
            </table>
{% endblock %}
        </div>
      </article>

      <article class="article clearfix">
{% block content %}
        <div class="col_33">
          <h2>We're here to help with...</h2>
          <ul>
            <li>Random suggestions
            <li>A list of what you've had lately
            <li>What's most popular with you
            <li>Common meals you haven't had in a while
          </ul>
        </div>

        <div class="col_33">
          <h2>All you have to do...</span></h2>
          <ul>
            <li>Sign up for an account
            <li>Simply add your meals each day
          <ul>
        </div>

        <div class="col_33">
          <h2>Why?</h2>
          <p>Every day as dinner time approaches the eternal question looms: what's for dinner?
          <p>Some days you just want a little help not to have to think about it.
        </div>

{% endblock %}

        <div class="clearfix"></div>

    </div>

    <footer class="footer clearfix">
    &nbsp;
    </footer>

  </div>

<div id="about" style="display: none; position: absolute; border: 3px solid green; background:white; padding: 1em; top: 5em; bottom: 12em; right: 12em; left: 12em">
<div style="float: right"><a href="#" onclick="javascript:document.getElementById('about').style.display = 'none'">Close Window</a></div>
<h1>This will explain everything.</h1>

But, why can't software predict what groceries I'm likely to want at any given time, based on analysis of old shopping receipts? Since we often by similar quantities of similiar products at relatively regular intervals...

</div>

</body>
</html>

