<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/static/dinner/favicon.ico" rel="shortcut icon">
  <link rel="stylesheet" href="/static/dinner/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/static/dinner/bootstrap/css/bootstrap-responsive.css">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/mint-choc/jquery-ui.css">
  <link rel="stylesheet" href="/static/dinner/jquery.qtip.min.css">
  <link rel="stylesheet" href="/static/dinner/style.css">
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="https://www.google.com/jsapi"></script>
  <title>{% if title %}{{ title }} | {% endif %}What's for Dinner</title>

<style>
</style>
{% block header %}{% endblock %}

</head>

<body>
  <div id="header">

      <h1 class="logo"><a href="/dinner/{% if user.is_authenticated %}{{ user.id }}/{% endif %}" style="color: inherit">What&rsquo;s for Dinner?</a></h1>

      <nav style="float:right; width:auto; white-space:nowrap">
        <ul id="main_menu" class="nav nav-pills">
          {% if user.is_authenticated %}
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" tmp="/dinner/{{user.id}}">{{ user.username }}'s Meals <b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu">
                  <li><a href="/dinner/{{ user.id }}/">Home</a></li>
                  <li><a href="/dinner/{{ user.id }}/eaten/new" xonclick="enter_eaten()">Eat Meal</a></li>
                  <li><a href="/dinner/{{ user.id }}/eaten">Eaten Meals</a></li>
                  <li><a href="/dinner/{{ user.id }}/meals">All Meals</a></li>
                  <li><a href="/dinner/{{ user.id }}/foodtypes">Food Types</a></li>
                  <li role="presentation" class="divider"></li>
                  <li class="dropdown-submenu"><a tabindex="-1" href="#">Create</a>
                    <ul class="dropdown-menu" style="left: -95%">
                        <li><a href="/dinner/{{ user.id }}/meal/new">New Meal Record</a></li>
                        <li><a href="/dinner/{{ user.id }}/foodtype/new">New Food Type</a></li>
                    </ul>
                  </li>


              </ul>
          </li>
          <li><a href="/dinner/logout">Logout</a></li>
          {% else %}
          <li><a href="/dinner/login">Login</a></li
          {% endif %}
        </ul>
      </nav>
    </div>


    <div id="subheader">

{% block bluebar %}
          <div style="float: right; padding-right: 50px; margin-top: 0.5em" id="image-container"><div id="google-images"></div><div style="text-align: right; font-size: 7pt; color: #ccc;">Random images via <a style="color: inherit" href="http://images.google.com" target="_blank">Google</a></div></div>
          <h2>Some random suggestions:</h2>

            <table id="random-suggestions" style="margin-left: 5em; margin-bottom: 1em">
            {% for meal in random %}
            <tr>
            <td>{% if meal.foodtype__color %}<div title="{{meal.foodtype__name}}" class="circle" style="background-color: #{{meal.foodtype__color}}"></div> {% endif %}{{ meal.name|capfirst }}{% if meal.common %}*{% endif %}</td>
            </tr>
            {% endfor %}
            </table>
{% endblock %}
      </div>

  <div class="container-fluid">
    <div class="row-fluid">

      <article class="article">
{% block content %}
        <div class="span4">
          <h3>We're here to help with...</h3>
          <ul>
            <li>Random suggestions
            <li>A list of what you've had lately
            <li>What's most popular with you
            <li>Common meals you haven't had in a while
          </ul>
        </div>

        <div class="span4">
          <h3>All you have to do...</span></h3>
          <ul>
            <li>Sign up for an account
            <li>Simply add your meals each day
          <ul>
        </div>

        <div class="span4">
          <h3>Why?</h3>
          <p>Every day as dinner time approaches the eternal question looms: what's for dinner?
          <p>Some days you just want a little help not to have to think about it.
        </div>

{% endblock %}
        </div>
        </article>
    </div>
</div>

    <footer class="footer" style="background: #fff">
{% block footer %}
    <div style="text-align: center; font-size: 80%">
    <a href="{% url "dinner.views.index" %}">About</a>
    <script>document.write(' | <a href="mail' + 'to:');document.write('s' + '@');document.write('xxvii.net">Contact</a>');</script>

    </div>

{% endblock footer %}
    </footer>



{% block bottom %}
{% endblock %}

<!-- script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script -->
<!-- script src="/static/dinner/jquery.ui.menubar.js"></script -->
<script src="/static/dinner/bootstrap/js/bootstrap.js"></script>
<script src="/static/dinner/bootstrap-notify.js"></script>

<script>
$(document).ready(function() {
//    $('#main_menu').menubar({autoExpand: true});
    console.log('ready');
});

var enter_eaten = function() {
    alert('not implemented yet');
}
</script>

{% block extrascripts %}
<script src="/static/dinner/jquery.qtip.min.js"></script>
<script>var image_search_terms="{% for w in random_names %}{{w}} {% endfor %}";</script>
<script src="/static/dinner/googleimages.js"></script>
{% endblock extrascripts %}
<div class="notifications top-right"></div>
<script>
var trnotify = function(msg) { $('.top-right').notify({ message: { text: msg } }).show(); }
</script>



</body>
</html>

