{% extends "base.html" %}
{% block content %}

        <div class="col_33">
          <h2>Latest Meals</h2>
          <table class="table">
          <tbody>
          {% for meal in latest %}
          <tr id="lm-{{meal.id}}-{{meal.meal_id}}" class="atip">
            <td style="width:1%; white-space: nowrap">{{ meal.date }}</span></td>
            <td>{{ meal.meal|capfirst }}{% if meal.common %}*{% endif %}</td>
          </tr>
          {% endfor %}

          </tbody>
          </table>
        </div>

        <div class="col_33">
          <h2>Most Popular Meals <span style="font-size: 60%">[1 year]</span></h2>
          <table class="table">
          <tbody>
          {% for meal in popular %}
          <tr id="pm-0-{{meal.id}}" class="atip">
            <td style="width:1%; white-space: nowrap; text-align: right">{{ meal.eaten__count }}</td>
            <td>{{ meal.name|capfirst }}</td>
          </tr>
          {% endfor %}

          </tbody>
          </table>
        </div>

        <div class="col_33">
          <h2>It's been a while <span style="font-size: 60%">[common]</span></h2>
          <table class="table">
          <tbody>
          {% for meal in aging %}
          <tr id="am-0-{{meal.id}}" class="atip">
            <td style="width:1%; white-space: nowrap">{{ meal.last_eaten|default_if_none:"Never" }}</td>
            <td>{{ meal.name|capfirst }}</td>
          </tr>
          {% endfor %}

          </tbody>
          </table>
        </div>

{% endblock %}

{% block bottom %}
<script>
$(document).ready(
    function() {

$(document).tooltip({
    items:'.atip',
    tooltipClass:'preview-tip',
//    position: { my: "top left", at: "bottom left", offset: "15 0" },
    content:function(callback) {
        $.get('../mealtip', {
            id:this.id
        }, function(data) {
            callback(data);
        });
    },
});


});


</script>
{% endblock %}

