{% extends "base.html" %}
{% block content %}

        <div class="span4">
          <h3>Latest Meals</h3>
          {% with list_data=latest %}
          {% include 'overview_table_lm.html' %}
          {% endwith %}
        </div>

        <div class="span4">
          <div class="rowhead"><h3>Most Popular Meals</h3> <div class="dropdown h3sub">[<a id="popular-period" class="dropdown-toggle" data-toggle="dropdown" >1 year</a>]
         <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a tabindex="-1" href="#" onclick="table_update('pm', '1 Month'); return false">1 Month</a></li>
            <li><a tabindex="-1" href="#" onclick="table_update('pm', '3 Months'); return false">3 Months</a></li>
            <li><a tabindex="-1" href="#" onclick="table_update('pm', '6 Months'); return false">6 Months</a></li>
            <li><a tabindex="-1" href="#" onclick="table_update('pm', '1 Year'); return false">1 Year</a></li>
            <li><a tabindex="-1" href="#" onclick="table_update('pm', 'All Time'); return false">All Time</a></li>
         </ul>
          </div></div>
          {% with list_data=popular %}
          {% include 'overview_table_pm.html' %}
          {% endwith %}
        </div>

        <div class="span4">
          <div class="rowhead"><h3>It's been a while</h3> <div class="dropdown h3sub">[<a id="aging-period" class="dropdown-toggle" data-toggle="dropdown" >common</a>]
         <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a tabindex="-1" href="#" onclick="table_update('am', 'common'); return false">Common Meals</a></li>
            <li><a tabindex="-1" href="#" onclick="table_update('am', 'all'); return false">All Meals</a></li>
         </ul>
          </div></div>
          {% with list_data=aging %}
          {% include 'overview_table_am.html' %}
          {% endwith %}
        </div>

{% endblock %}

{% block bottom %}
<script>
var table_update = function(report, arg) {
    $.get('/dinner/{{user.id | default:0}}/overview_table', { 'report': report, 'arg': arg }, table_update_draw, 'json');
}

var table_update_draw = function (data) {
    if (data.report == 'pm') {
        $('#popular-period').html(data.arg);
        $('#popular-table').replaceWith(data.html);
        createTips('#popular-table .atip');
        trinfo("Popular meals list for " + data.arg + " updated");
    }
    else if (data.report == 'am') {
        $('#aging-period').html(data.arg);
        $('#aging-table').replaceWith(data.html);
        createTips('#aging-table .atip');
        trinfo("Updated " + data.arg + " meals it's been a while for");
    }
}

var createTips = function(tipclass) {
    $(tipclass).each( function() {
        $(this).qtip({
            content: {
                ajax: {
                    url: "/dinner/{{userid}}/mealtip",
                    data: { id: this.id }
                },
                text: "Loading..."
            },
            style: {
                width: 320,
                classes: "qtip-blue qtip-shadow"
            },
            position: {
                target: "mouse",
                adjust: {
                    method: "flipinvert flipinvert",
                    y: 12
                },
                viewport: $(window)
            }
        });
    });
};


$(document).ready(
    function() {
        createTips('.atip')
    }
);


</script>
{% endblock %}

