{% load crispy_forms_tags %}
{% crispy form form.helper 'bootstrap' %}

<script src="/static/dinner/dinner.js"></script>
<script>
$(document).ready(function() {
    f = document.getElementById('id_date');
    if (! f.value) {
        f.value = today();
    }

    $('#button-id-delete').click(function() {
            if (confirm("Really delete?")) {
                form = document.getElementById('eaten-edit-form');
                var hidden = document.createElement('input');
                hidden.type = 'hidden';
                hidden.name = 'remove';
                hidden.value = '1'
                form.appendChild(hidden);
                form.submit();
            } else {
                return false;
            }
            });
    $('#button-id-cancel').click(function() {
            if (confirm("Really cancel, and go back to previous page?")) { window.history.back(); return true }
            else { return false; }
            });
});
</script>

