{% extends "base.html" %}
{% block header %}
  <link rel="stylesheet" href="/static/dinner/DataTables/css/jquery.dataTables.css">
{% endblock %}

{% block bluebar %}
<h2>Meals:</h2>
{% endblock %}
{% block content %}
<table class="table table-striped table-xnolines">
<thead>
<tr>
<th>Food Type</th>
<th>Meals</th>
<th>Colour</th>
<th>Created</th>
</tr>
</thead>
<tbody>
{% for f in food %}
<tr>
<td style="font-weight: 700; color:inherit"><a href="/dinner/{{user.id}}/meals/{{f.id}}">{{ f.name }}</a></td>
<td>{{f.meal__count}}</td>
<td><div class="circle" style="background-color: #{{f.color}}"></div>{{f.color}}</td>
<td>{{ f.created | date:"Y-m-d" }}</td>
</tr>
{% endfor %}

</tbody>
</table>


{% endblock content %}

{% block bottom %}
<script src="/static/dinner/DataTables/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
    $("table").dataTable({
            "bPaginate": false,
            'aaSorting': [],
            "fnInitComplete": function(oSettings, json) {
                    // move search box into header
                    $('#DataTables_Table_0_filter').prependTo('#subheader');
                      }
            });
});

</script>

{% endblock %}
