{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" type="text/css" href="/static/dinner/select2/select2.css">
{% endblock header %}

{% block bluebar %}
<h2>{{title}}:</h2>
{% endblock %}

{% block content %}

{% load crispy_forms_tags %}
{% crispy form form.helper 'bootstrap' %}

{% endblock content %}

{% block extrascripts %}
<script src="/static/dinner/select2/select2.js"></script>
<script src="/static/dinner/expanding.js"></script>
<script>
var select_data = {{ footype_json|safe }};

$(document).ready(function() {

    var format = function (item) { if (item.id) return item.name + ' <div class="circle" style="background-color: #' + item.foodtype__color + '"></div><span color="grey">(' + item.foodtype__name + ')</span>'; };

    $('#id_meal').select2({
        data: { results: select_data, text: function(state) { return state.name + ' ' + state.foodtype__name } },
        formatSelection: format,
        formatResult: format,
        escapeMarkup: function(m) { return m; }
        });

        $('#id_notes').expandingTextarea();
});

</script>

{% endblock %}
