{% extends "base.html" %}
{% block header %}
  <link rel="stylesheet" href="/static/dinner/DataTables/css/jquery.dataTables.css">
{% endblock %}

{% block bluebar %}
<h2>Meal records: {% if foodtype %}({{foodtype.name}} only <a href="/dinner/{{request.user.id}}/meals" style="color:darkred; font-size:80%">&#x2717;</a>){% endif %}</h2>
{% endblock %}
{% block content %}
<table class="table table-striped table-xnolines">
<thead>
<tr>
<th>Meal Name</th>
<th>Type</th>
<th style="text-align: center" title="Common meal">Com.</th>
<th style="text-align: center" title="Freezable">Frz.</th>
<th>Rating</th>
<th style="text-align: right" title="Times Eaten"><i>x</i></th>
<th>Last Eaten</th>
<th>Created</th>
</tr>
</thead>
<tbody>
{% for m in meals %}
<tr>
<td style="font-weight: 700; color:inherit"><a href="/dinner/{{user.id}}/meal/{{m.id}}">{{ m.name }}</a></td>
<td>{{ m.foodtype.name }}<div class="circle" style="background-color: #{{m.foodtype.color}}"></div></td>
<td style="text-align: center; color: {% if m.common %}green{%else%}darkred{%endif%}">{% if m.common %}&#x2714;{% else %}&#x2717;{% endif %}</td>
<td style="text-align: center; color: {% if m.freezable %}green{%else%}darkred{%endif%}">{% if m.freezable %}&#x2714;{% else %}&#x2717;{% endif %}</td>
<td>{{ m.rating | default_if_none:" " }}</td>
<td style="text-align: right"><a href="/dinner/{{user.id}}/meal/{{m.id}}">{{m.eaten__count}}</a></td>
<td>{{ m.last_eaten | default_if_none:" "  | date:"Y-m-d" }}</td>
<td>{{ m.created | date:"Y-m-d" }}</td>
</tr>
{% endfor %}

</tbody>
</table>


{% endblock content %}

{% block bottom %}
<script src="/static/dinner/DataTables/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
    $("table").dataTable({
            "bPaginate": false,
            'aaSorting': [],
            "fnInitComplete": function(oSettings, json) {
                    // move search box into header
                    $('#DataTables_Table_0_filter').prependTo('#subheader');
                      }
            });
});

</script>

{% endblock %}
