          <table id="latest-table" class="table table-striped table-nolines overview latest" >
          <tbody>
          {% for meal in list_data %}
          <tr id="lm-{{meal.id}}-{{meal.meal__id}}" class="atip" style="border: none">
            <td>{{ meal.date|date:"M j (D.)" }}</span></td>
            <td>{% if meal.meal__foodtype__color %}<div class="circle" style="background-color: #{{meal.meal__foodtype__color}}"></div> {% endif %}{{ meal.meal__name|capfirst }}{% if meal.meal__common %}*{% endif %}</td>
          </tr>
          {% endfor %}
          </tbody>
          </table>
